CONFIG_VIRTUALZATION=n
CONFIG_KVM=n
CONFIG_EXPERT=y
CONFIG_PREEMPT_RT=y
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=y
# Disable swap support so the CM4 image never uses swap on eMMC.
# CONFIG_SWAP is not set

CONFIG_IIO=m
CONFIG_IIO_BUFFER=y
CONFIG_IIO_BUFFER_CB=m
CONFIG_IIO_BUFFER_DMA=m
CONFIG_IIO_BUFFER_DMAENGINE=m
CONFIG_IIO_BUFFER_HW_CONSUMER=m
CONFIG_IIO_KFIFO_BUF=m
CONFIG_IIO_TRIGGERED_BUFFER=m
CONFIG_IIO_CONFIGFS=m
CONFIG_IIO_TRIGGER=y
CONFIG_IIO_CONSUMERS_PER_TRIGGER=2
CONFIG_IIO_SW_DEVICE=m
CONFIG_IIO_SW_TRIGGER=m
CONFIG_IIO_TRIGGERED_EVENT=m

# CONFIG_IIO_HRTIMER_TRIGGER is not set
CONFIG_IIO_INTERRUPT_TRIGGER=m
# CONFIG_IIO_TIGHTLOOP_TRIGGER is not set
CONFIG_IIO_SYSFS_TRIGGER=m

CONFIG_BMI088_ACCEL=m
CONFIG_BMI088_ACCEL_I2C=m

CONFIG_BMG160=m
CONFIG_BMG160_I2C=m